* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* min-height: 200vh; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    width: 100%;
}

div {
    background-color: rgb(126, 224, 241);
    /* color: #eee; */
    text-align: center;
    padding: 1rem;
    border: 1px #222 solid;
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    
}

.a {
    background-color: rgb(260, 60, 220);
    padding: 2rem;
    border: 8px solid rgb(126, 224, 241);
    width: 100%;
    display: flex;
    min-height: 30vh;
    flex-flow: row wrap;
}

.b {
    background-color: rgb(20, 60, 220);
    /* color: #eee; */
    text-align: center;
    padding: 2rem;
    border: 8px solid rgb(126, 224, 241);
    width: 50%;
    min-height: 35vh; 
    display: flex;
    flex-flow: row wrap;
    /* flex: 1 0 auto; */
}

.c {
    background-color: rgb(120, 60, 220);
    /* color: #eee; */
    text-align: center;
    padding: 2rem;
    border: 8px solid rgb(126, 224, 241);
    width: 50%;
    min-height: 35vh; 
    display: flex;
    flex-flow: row wrap;
}


@media screen and (min-width: 350px) {
    body {
        background-color: yellowgreen;
    }
}

@media screen and (min-width: 700px) {
    body {
        background-color: sandybrown;
    }
}

@media screen and (min-width: 1100px) {
    body {
        background-color: rgb(87, 88, 139);
    }
}
